<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363183175074-mbnm329oqldu7giced2kvfmclo6s5oa2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363183175074-mbnm329oqldu7giced2kvfmclo6s5oa2</string>
	<key>API_KEY</key>
	<string>AIzaSyDRfFGjEt3SRocs4qshib5LE0zvP3hWLfc</string>
	<key>GCM_SENDER_ID</key>
	<string>363183175074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.souqway</string>
	<key>PROJECT_ID</key>
	<string>souqways-app-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>souqways-app-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363183175074:ios:71d9f4ac9b274299816efb</string>
	<key>DATABASE_URL</key>
	<string>https://souqways-app-rn.firebaseio.com</string>
</dict>
</plist>